$goldyLox: #ab8c6b;
$nvblu: #30373f;
$ariba: 'Abhaya Libre', serif;
.condo-form-comp{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #f2ece5;
    border-radius: 5px;
    box-shadow: inset;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 28rem;
    .form-row{
        display: flex;
        justify-content: space-around;
        width: 100%;
        .name-field, .img-field, .price-field, .currency-field{
            height: 5rem!important;
        }
        .name-field>input, .img-field>input, .price-field>input, .currency-field>input{
            border: 1px solid $nvblu!important;
            font-size: 1.1975rem;
            height: 3rem!important;
            margin-top: 2rem!important;
            background-color: white!important;
            padding: 1rem!important;
        }
        .name-field>label, .img-field>label, .price-field>label, .currency-field>label{
            font-size: 1.625rem!important;
            font-weight: 700!important;
            top: 30px!important;
            left: 8px;
            font-family: $ariba;
        }
        // &.name--price-row{
        // }
    }
    img{
        width: 140px;
        height: 105px;
    }
    .s3-img-upload-row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        .form-left, .form-right{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 220px;
        }
        .form-left{
            width: 300px;
            .file-btns, p, img{
                margin: 0.5rem 0;
            }
            .file-btns{
                display: flex;
                justify-content: center;
                .input-file{
                    position: relative;
                    width: 125px;
                    height: 2rem;
                    border-color: $goldyLox;
                    input{
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        opacity: 0;
                        z-index: 50;
                        width: 125px;
                    }
                    .input-span{
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        z-index: 30;
                        background: #f2ece5;
                        font-size: 13px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $goldyLox;
                        font-weight: 700;
                        border: 1px solid $goldyLox;
                    }
                }
                .input-file:hover{
                    .input-span{
                        background-color: $goldyLox;
                        border: 1px solid #f2ece5;
                        color: #f2ece5;
                    }
                }
                .use-photo{
                    margin-left: 0.5rem;
                }
            }
        }
        .form-right{
            width: 200px;
            button, img{
                margin: 0.5rem 0;
            }
            img{
                margin-top: 2.625rem;
            }
        }
        // align-items: center;
        p{
            font-family: 'Abhaya Libre', serif;
            font-size: 22px;
            color: $nvblu;
            padding-bottom: 10px;
        }
    }
    button{
        border: 1px solid transparent;
        color: $goldyLox;
        width: 125px;
        height: 2rem;
        padding: 2px 6px;
        font-size: 13px;
        border-color: $goldyLox;
        background-color: #f2ece5;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif!important;
    }
    button:hover{
        cursor: pointer;
        background: $goldyLox;
        color: #f2ece5;
        border: 1px solid #f2ece5;
    }
    .save{
        position: absolute;
        bottom: 0.5rem;
        left: calc(50% - 62.5px);
        &.disabled:hover{
            cursor: not-allowed;
            background-color: rgba(128, 128, 128, 0.733);
        }
    }
    .hide-form{
        cursor: pointer;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        transition: all 0.2s cubic-bezier(0.23, 1, 0.320, 1);
        &:hover{
            color: $goldyLox;
        }
    }
}