@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400');

.menu-button{
    max-height: 300px;
    position: fixed;
    margin-top: 49.4vh;
    font-style: normal;
    font-weight: 330;
    font-size: 17px;
    color:black;
    text-align: center;
    padding-left: 15px;
    border: 0;
    
}

.menu-modal{
    display: none;
    position:fixed;
    z-index: 10;
    left: 0;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgba(0,0,0,0.5)
}
.menu-modal-closed{
    display: none;
    position:fixed;
    z-index: 10;
    left: 0;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgba(0,0,0,0.5)
}
.menu-modal-open{
    display: block;
    position:fixed;
    z-index: 10;
    left: 0;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    transition: 4s;
    
}
.modal-content{
    background-color:#30373F;
    height: 100vh;
    width: 100vw;
}

.header-modal-text-container{
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    margin-top: 30px;
}
.header-modal-logo-container{
    margin-top: 90px;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 70px;
    
}
.header-modal-menu-logo{
    height: 140px;

}
.header-modal-content-container{
    height: 100vh;
    width: 100vw;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    align-content: stretch;
}
.cls-btn{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    margin-left: 10px;
    
}
.cls-btn-graphic{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    margin-left:80px;
    position: fixed;
    margin-top:30px;
}
.modalFont{
    font-family: 'Abhaya Libre', serif;
    font-weight: bolder;
    font-size: 40px;
    color: #ffffff;
    padding-bottom: 50px;
}
.modalFont-home{
    font-family: 'Abhaya Libre', serif;
    font-weight: 800;
    font-size: 40px;
    color:#c6ab8f;
    padding-bottom: 50px;
    line-height: 45px;
}
.header-modal-column-1{
    margin-top:20px;
    margin-left:25%;
}
.header-modal-line{
    background-color:red;
}
.header-modal-column-2{
    margin-top:20px;
    margin-left: 11%;
    border-left: .02rem solid rgba(180, 180, 194, 0.116);
    padding-left: 30px;
    height: 269px;
    border-width: thin;

}



.header-modal-close-text{
    padding-top: 30px;
    height: 20px;
    width: 100px;
    margin-left: -10px;
    position: fixed;
}