@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400');
@import "mixins.scss";
@import "variables.scss";

.menu-button{
    max-height: 300px;
    position: fixed !important;
    margin-top: 49.4vh;
    font-style: normal;
    font-weight: 330;
    font-size: 17px;
    color:black;
    text-align: center;
    padding-left: 15px;
    border: 0;
    z-index: 7;
    
}

.menu-modal{
    display: none;
    position:fixed;
    z-index: 49;
    left: 0;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color:#30373F;
}

.menu-modal-closed{
    opacity:1;
    position:fixed;
    transition: 1s;
    z-index: 4;
    left: -100vw;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color:#30373F;

    .modalFont-home{
        font-family: 'Abhaya Libre', serif;
        font-weight: 800;
        font-size: 40px;
        color:#c6ab8f;
        padding-bottom: 50px;
        line-height: 45px;
        animation: fadeOut .5s;

        @include don900{
            font-size: 10px;
        }
    }

    .modalFont1{
        font-family: 'Abhaya Libre', serif;
        font-weight: bolder;
        font-size: 40px;
        color: #ffffff;
        padding-bottom: 50px;
        animation: fadeOut .75s;

        @include don900{
            font-size: 10px;
        }
        
    }
    .modalFont2{
        font-family: 'Abhaya Libre', serif;
        font-weight: bolder;
        font-size: 40px;
        color: #ffffff;
        padding-bottom: 50px;
        animation: fadeOut 1s;
        
    }
    .modalFont3{
        font-family: 'Abhaya Libre', serif;
        font-weight: bolder;
        font-size: 40px;
        color: #ffffff;
        padding-bottom: 50px;
        animation: fadeOut 1.50s;
        
    }
}
.menu-modal-open{
    opacity:1;
    position:fixed;
    z-index: 11;
    transition: .5s;
    left: 0;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color:#30373F;

    .modalFont-home{
        font-family: 'Abhaya Libre', serif;
        font-weight: 800;
        font-size: 40px;
        color:#c6ab8f;
        padding-bottom: 20px;
        line-height: 45px;
        animation: fadeIn .5s;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        @include don900{
            font-size: 30px;
            padding-bottom: 3px;
        }
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        position: relative;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }

    a:after {
        content: "";
        position: absolute;
        height: 2px;
        background-color:#aa8c6d;
        width: 0;
        left: -10%;
        margin-top:39px;
      -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
        transform: translateX(10%);
        -webkit-transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
          transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    }
    
    a:hover:after {
        width: 100%;
    }
    .modalFont1{
        font-family: 'Abhaya Libre', serif;
        font-weight: bolder;
        font-size: 40px;
        color: #ffffff;
        padding-bottom: 20px;
        animation: fadeIn .75s;
        @include don900{
            font-size: 30px;
            padding-bottom: 7px;
           
        }
        
    }
    .modalFont2{
        font-family: 'Abhaya Libre', serif;
        font-weight: bolder;
        font-size: 40px;
        color: #ffffff;
        padding-bottom: 20px;
        animation: fadeIn 1s;
        @include don900{
            font-size:30px;
            padding-bottom: 7px;
        }
        
    }
    .modalFont3{
        font-family: 'Abhaya Libre', serif;
        font-weight: bolder;
        font-size: 40px;
        color: #ffffff;
        padding-bottom: 20px;
        animation: fadeIn 1.50s;
        @include don900{
            font-size: 30px;
            padding-bottom: 7px;
        }
        
    }
    
    
    
}

.link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s
}

.link:hoover::after {
    width: 100%;
    transition: width .3s
}



@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    from{
        margin-bottom:5vh;
    }
    to{margin-bottom:'';}
    }

@keyframes fadeOut{
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
        from{
            margin-bottom:'';
        }
        to{margin-bottom:5vh;}
        }

        
        @keyframes logoFadeOut{
            from{
                opacity: 1;
            }
            to{
                opacity: 0;
            }
            from{
                margin-bottom:'';
            }
            to{margin-bottom:5vh;}
            }
    
.modal-content{
    background-color:#30373F;
    height: 100vh;
    width: 100vw;
}

.header-modal-text-container{
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    margin-top: 30px;
}
.header-modal-logo-container{
    margin-top: 90px;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-bottom: 70px;
    
    @include don900{
        margin-top: 0;
        padding-bottom: 0;
    }
    
}
.header-modal-menu-logo{
    height: 110px;
    animation: logoFadeOut 2s;

    @include don900{
        display: none;
    }
   

}
.header-modal-content-container{
    height: 100vh;
    width: 100vw;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    align-content: stretch;

    @include don900{
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        margin-top: -50px;
    }

}

.menu-button{
    max-height: 300px;
    position: fixed;
    margin-top: 49.5vh;
    font-style: normal;
    font-weight: 330;
    font-size: 15px;
    color:black;
    text-align: center;
    padding-left: 15px;
    border: 0;
    z-index: 12;
    cursor: pointer;
    @include don900{
        display: flex;
        position: absolute;
        margin-top:23px;
        margin-left:81vw;
        color: white;
    }
    
}
.menu-button2{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    max-height: 300px;
    position: fixed;
    margin-top: 49.5vh;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    color:white;
    text-align: center;
    padding-left: 15px;
    border: 0;
    z-index: 12;
    cursor: pointer;
    @include don900{
        display: none;
    }
    
}

.cls-btn-graphic{
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    margin-left:80px;
    position: fixed;
    margin-top:30px;
}

.header-modal-column-1{
    margin-top:20px;
    margin-left:25%;
    @include don900{
        margin-left:0;
        margin-top: 0;
    }
}
.header-modal-line{
    background-color:red;
}
.header-modal-column-2{
    margin-top:20px;
    margin-left: 11%;
    border-left: .02rem solid rgba(180, 180, 194, 0.116);
    padding-left: 30px;
    height: 269px;
    border-width: thin;
    @include don900{
        margin-left:0;
        padding-left: 0;
        margin-top: 0;
    }

}

.header-modal-close-text{
    padding-top: 30px;
    height: 20px;
    width: 100px;
    margin-left: -10px;
    position: fixed;
}

.modal-top-header{
    display: none;
    @include don900{
    display: flex;
    background-color: #30373f;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
    display: flex;
    height: 60px;
    }
}

// @media screen and (max-width: 899px){
//     .modal-container{
//         display: none;
//     }
// }

.close-box-container{
    display: flex;
    position: absolute;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    margin-left: 65px;
    margin-top:-23px;
}
  .close {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
  }

  .close::before, .close::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #aa8c6d;
    transition: all 0.25s ease-in-out;
  }

  .close.hairline::before, .close.hairline::after {
    height: 1px;
  }
  .close-box-container:hover{
      .close::before{
          transform: rotate(45deg);
      }
      .close::after{
          transform: rotate(-45deg);
      }
  }

  .modal-container #modalBtn.menu-button:hover{
    span.hamburger::before{
        top: calc(50% - 0.3125rem);
    }
    span.hamburger::after{
        top: calc(50% + 0.3125rem);
    }
}
.modal-container>#modalBtn.menu-button{
    cursor: pointer;
    padding-right: 41px;
    span.hamburger{
        width: 32px;
        height: 1px;
        background-color: $goldyLox;
        content: "";
        position: absolute;
        top: 50%;
        left: 4.25rem;
        cursor: pointer;
        &::before, &::after{
            width: 32px;
            height: 0.5px;
            background-color: $goldyLox;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 50;
            transition: all 0.2s ease-in-out;

           
        }
        &::after{
            height: 1px;
            @include don900{
                top:calc(50% + 0.3125rem);
            }
        
        }
        &::before{
            height: 1px;
            @include don900{
                top:calc(50% - 0.3125rem);
            }
        
    
        }
    }
    &:hover{
        .ham-container>.hamburger::before{
            top: calc(50% - 0.3125rem);
        }
        .ham-container>.hamburger::after{
            top: calc(50% + 0.3125rem);
        }
    }
}