


.header-main-container{
    display:flex;
    position: fixed;
    flex-direction: column;
    background-color: white;
    width: 80px;
    height: 100vh;
}    

.header-logo-container{
    display:flex;
    position: absolute;
    align-content: center;
    align-items:center;
    background-color: #f0e9e1;
    width: 80px;
    height: 133px;
   
} 
.header-logo{
        padding-left: 1rem;
        height: 4.3rem;
        width: 4.3rem;
    } 
.header-main-text{
    max-height: 300px;
    position: fixed;
    margin-top: 49.4vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 330;
    font-size: 17px;
    color:black;
    text-align: center;
    padding-left: 25px;
 }

 

.header-social-icon-fb{
    height: 43px;
    width: 43px;
    padding-top: 7px;
    }
   
    .header-social-icon-ig{
        height: 43px;
        width: 43px;
        padding-top: 7px;
        }
        .header-social-icon-ta{
            height: 43px;
            width: 43px;
            padding-top: 7px;
            }


.header-social-container {
    margin-left: 1.5rem;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
}

