$nvblu: #30373f;
$goldyLox: #ab8c6b;
$shadowColor: #f2ece5;
@keyframes slide-down{
    from{
        height: 0%;
    }
    to{
        height: 48rem;
    }
}
// .parallax_paradise_cont{
//     position: absolute;
//     top: 100vh
// }
.paradise-comp{
    margin-top: 25vh;
    // padding-top: 50vh;
    height: 150vh;
    position: relative;
    img{
        width: 25.27rem;
    }
    .bg-img{
        position: absolute;
        width: auto;
        right: 3%;
    }
    .pool-img-box{
        width: 25.27rem;
        position: absolute;
        left: 2.5%;
        height: 48rem;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .pool-shadow[data-aos="slideDown"], .pool-img[data-aos="slideDown"] {
        top: -48rem;
        transition-property: top;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        &.aos-animate {
            top: 0;
        }
    }
    .pool-img{
        background-position: center;
        background-size: cover
    }
    .pool-img, .pool-shadow{
        top: -48rem;
        width: 25.27rem;
        height: 48rem;
        position: absolute;
        left: 2.5%;
        z-index: 3;        
    }
    .pool-shadow, .building-shadow, .steak-shadow{
        background-color: $shadowColor;
    }
    .paradise-content{
        float: right;
        margin: 3% 13%;
        width: 45%;
        font-size: 1.0625em;
        line-height: 175%;
        h2{
            font-size: 3.0625rem;
            font-family: 'Abhaya Libre', serif;
            margin-bottom: 1.75rem;
        }
        p{
            font-weight: 400;
            color: #7f7c7f;            
        }
    }
    .paradise-content::before{
        width: 2.5px;
        background-color: $goldyLox;
        position: absolute;
        content: '';
        left: 39%;
        height: 20rem;
    }
    .building-box{
        height: 22.5rem;
        width: 25.27rem;
        position: absolute;
        top: 55%;
        left: 39.25%;
    }
    .building-box, .steak-box{
        overflow-y: hidden;
        overflow-x: hidden;
        height: 22.5rem;
        width: 25.27rem;
        position: absolute;
    }
    .building-img{
        background-position: center;
        background-size: cover;
    }
    .building-img[data-aos="slideDown"],
    .building-shadow[data-aos="slideDown"]
    {
        top: -22.5rem;
        transition-property: top;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        &.aos-animate {
            top: 0;
        }
    }
    .steak-box{
        height: 22.5rem;
        width: 25.27rem;
        position: absolute;
        top: 35%;
        right: 3.35%;
    }
    .steak-img{
        background-position: center;
        background-size: cover;
    }
    .steak-img[data-aos="slideDown"],
    .steak-shadow[data-aos="slideDown"]
    {
        top: -22.5rem;
        transition-property: top;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        &.aos-animate {
            top: 0;
        }
    }
    .steak-img, .building-img, .building-shadow, .steak-shadow{
        position: absolute;
        height: 22.5rem;
        width: 25.27rem;
        z-index: 3;
    }
    // .building-img, .building-shadow{
    //     left: 39.25%;
    // }
    // .steak-img, .steak-shadow{
    //     right: 3.35%;
    // }
    // img.steak-img{
    //     zoom: 0.4;        
    // }
    .shadow{
        background-color: #f2ece5;
        width: 31.25rem;
        position: absolute;
    }
    .left-shadow{
        height: 18.75rem;
        left: 4.55%;
        top: 42.5%;
    }
    .right-shadow{
        top: 44.55%;
        right: 10%;
        height: 25rem;
    }
}