html::-webkit-scrollbar{
    display: none;
}
$nvblu: #30373f;
$goldyLox: #ab8c6b;
$shadowColor: #f2ece5;
@keyframes slide-down{
    from{
        height: 0%;
    }
    to{
        height: 48rem;
    }
}
@keyframes poolShadow{
    0%{
        top: -48rem;
    }
    50%{
        top: 0;
    }
    100%{
        top: 48rem;
    }
}

@keyframes boxShadow{
    0%{
        top: -22.5rem;
    }
    50%{
        top: 0;
    }
    100%{
        top: 22.5rem;
    }
}

@keyframes steakShadow{
    0%{
        top: -22.5rem;
    }
    50%{
        top: 0;
    }
    100%{
        top: 22.5rem;
    }
}

// .parallax_paradise_cont{
//     position: absolute;
//     top: 100vh
// }
.paradise-comp{
    margin-top: 225px;
    // padding-top: 50vh;
    height: 150vh;
    position: relative;
    img{
        width: 25.27rem;
    }
    .bg-img{
        position: absolute;
        width: auto;
        right: 3%;
    }
    .pool-img-box{
        width: 25.27rem;
        position: absolute;
        left: 2.5%;
        height: 48rem;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .pool-shadow[data-aos="poolShadowSlide"]{
        z-index: 5;
        top: -100%;
        &.aos-animate{
            animation: poolShadow 1.5s cubic-bezier(0.23, 1, 0.320, 1);
            
        }
    }
    .pool-img[data-aos="poolImgSlide"] {
        top: -48rem;
        transition-property: top;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        &.aos-animate {
            top: 0;
        }
    }
    .pool-img{
        background-position: center;
        background-size: cover;
        z-index: 2;
        top: -48rem;
    }
    .pool-img, .pool-shadow{
        width: 25.27rem;
        height: 48rem;
        position: absolute;
    }
    .pool-shadow, .building-shadow, .steak-shadow{
        background-color: $shadowColor;
    }
    .paradise-content{
        float: right;
        margin: 3% 13%;
        width: 45%;
        font-size: 1.0625em;
        line-height: 175%;
        h2{
            font-size: 3.0625rem;
            font-family: 'Abhaya Libre', serif;
            margin-bottom: 1.75rem;
            font-weight: 600;
        }
        p{
            font-weight: 400;
            color: #7f7c7f;            
        }
    }
    .paradise-content::before{
        width: 2.5px;
        background-color: $goldyLox;
        position: absolute;
        content: '';
        left: 39%;
        height: 20rem;
    }
    .building-box{
        height: 22.5rem;
        width: 25.27rem;
        position: absolute;
        top: 49.5%;
        left: 38.75%;
    }
    .building-box, .steak-box{
        overflow-y: hidden;
        overflow-x: hidden;
        height: 22.5rem;
        width: 25.27rem;
        position: absolute;
    }
    .building-img{
        background-position: center;
        background-size: cover;
    }
    .building-img[data-aos="buildingImgSlide"]
    {
        top: -22.5rem;
        transition-property: top;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        &.aos-animate {
            top: 0;
        }
    }
    .building-shadow[data-aos="buildingShadowSlide"]{
            z-index: 5;
            top: -100%;
            &.aos-animate{
                animation: boxShadow 1.5s cubic-bezier(0.23, 1, 0.320, 1);
                
            }
        }
    }

    .steak-box{
        height: 22.5rem;
        width: 25.27rem;
        position: absolute;
        top: 37%;
        right: 5.2%;
    }
    .steak-img{
        background-position: center;
        background-size: cover;
    }
    .steak-img[data-aos="steakImgSlide"]
    {
        top: -22.5rem;
        transition-property: top;
        transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
        &.aos-animate {
            top: 0;
        }
    }

    .steak-shadow[data-aos="steakShadowSlide"]{
        z-index: 5;
        top: -100%;
        &.aos-animate{
            animation: steakShadow 1.5s cubic-bezier(0.23, 1, 0.320, 1);
            
        }
    }

    .steak-img, .building-img, .building-shadow, .steak-shadow{
        position: absolute;
        height: 22.5rem;
        width: 25.27rem;
        z-index: 3;
    }
    // .building-img, .building-shadow{
    //     left: 39.25%;
    // }
    // .steak-img, .steak-shadow{
    //     right: 3.35%;
    // }
    // img.steak-img{
    //     zoom: 0.4;        
    // }
    .shadow{
        background-color: #f2ece5;
        width: 31.25rem;
        position: absolute;
    }
    .left-shadow{
        height: 18.75rem;
        left: 4.55%;
        top: 46.5%;
    }
    .right-shadow{
        top: 46.5%;
        right: 10%;
        height: 25rem;
    }

