@import "variables.scss";
@import "mixins.scss";
$nvblu: #30373f;
$gold: #C6AB8F;

.quote_container{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quote_container::before{
    content: "\201D";
    color: $gold;
    font-family: 'Abhaya Libre';
    font-size: 8rem;
    position: absolute;
    left: 12rem;
}

.quote_container::after{
    content: "“";
    position: absolute;
    font-family: 'Abhaya Libre';
    font-size: 8rem;
    right: 12rem;
    color: $gold;
    bottom: -20px;
}

.quote{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    h2{
        font-family: 'Abhaya Libre';
        font-size: 49px;
        margin-bottom: 25px;
        margin-top: 10%;
        color: $nvblu
    }
    p{
        font-size: 18px;
        line-height: 30px;
        font-style: italic;
        color: #606060;
        font-weight: 500;
        
    }
    h5{
        font-size: 21px;
        font-family: 'Abhaya Libre';
        color: #cdb49a;
        padding-top: 20px;
    }
}

