@import "variables.scss";
@import "mixins.scss";
$nvblu: #30373f;


.Restaurant_container{
    height: 230vh;
   
}

.Restaurant{
    width: 100%;
    margin-top: 10%;
    position: relative;
    height: 230vh;
}

.amazing_container{
    width: 60%;
    margin-left: 11%;
    
}

.amazing_container::before{
   content: '';
   position: absolute;
   width: 2px;
   background-color: #A18160;
   height: 17rem;
}
// .amazing_line{
//     height: 18%;
//     width: 2px;
//     background-color:#A18160;
//     position: absolute;
// }


.title_amazing{
    color: $nvblu;
    font-size: 49px;
    font-family: 'Abhaya Libre';
    margin-left: 27px;
    margin-top: -10px;
}

.text_amazing{
    font-family: 'Open Sans';
    color: $nvblu;
    font-size: 17px;
    margin-top: 32px;
    margin-left: 27px;
    line-height: 29px;

}

.amazing_read_more{
   color: #9a7753;
   margin-top: 13px;
}

.shadow_one{
    width: 26.5rem;
    margin-right: 2.5rem;
    top: 0;
    position: absolute;
    right: 0;
    height: 745px;
    background: #f2ece5;
    z-index: 1;
}

.amazing_steak{
   float: right;
   width: 26.5rem;
   top: 0;
   position: absolute;
   right: 0;
   height: 745px;
}

.shadow_two{
    margin-left: 3%;
    top: 22%;
    width: 28%;
    background: #f2ece5;
    position: absolute;
    height: 22rem;

}

.amazing_people{
    width: 100%;
    height: 100%;
}

.shadow_three{
    position: absolute;
    width: 28.5%;
    left: 31.5%;
    top: 42rem;
    background: #f2ece5;
    height: 21rem;
}

.amazing_lunch{
    width: 100%;
    height: 100%;
}

.amazing_box_1{
    position: absolute;
    width: 500px;
    height: 400px;
    background: #f2ece5;
    left: 17%;
    top: 33rem;
    z-index: -1;
}

.amazing_box_2{
   position: absolute;
   width: 432px;
   height: 300px;
   background: #f2ece5;
   right: 0;
   margin-top: 13rem;
   z-index: -1;
}

.video_section{
    position: absolute;
    top: 70rem;
    max-width: 100%;
    overflow: hidden;
    height: auto;
}

