@keyframes headMainSlideUp {
    from {
        margin-top: 10%;
    }
    to {
        margin-top: 0%;
    }
}
@keyframes switchSlideDown {
    0% {
        top: -10%;
    }
    50% {
        top: -10%;
    }
    to {
        top: 2em;
    }
}
@keyframes scrollSlideDown {
    0% {
        top: 85vh;
    }
    71% {
        top: 85vh;
    }
    100% {
        top: 85.5vh;
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slowAppear {
    0% {
        opacity: 0;
    }
    71% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
button{
    cursor: pointer;
    -webkit-transition: border-color 0.5s ease-in-out;
    -moz-transition: border-color 0.5s ease-in-out;
    -o-transition: border-color 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}
.large-btn{
    border: 2px solid;
    width: 18rem;
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 3.5rem;
    text-transform: uppercase;
}

.welcome-comp{
    // margin-top: -88vh;
    // transform: translateZ(-1px) scale(2);    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    // transform: translateZ(0) scale(1);
    background: url('./images/main_head_bg.jpg');
    background-size: cover;
    // background-attachment: fixed;
    background-color: #0000009e;
    background-blend-mode: multiply;
    background-position: center;
    height: 100vh;
    width: 100%;

    .login{
        position: fixed;
        left: 90px;
        top: 10px;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
    }
    .login_text{
        content: 'Login';
        color: #cdb49a;
        position: absolute;
        left: 10px;
        top: .6rem;
        background-color: #ffffff4d;
        line-height: 2rem;
        border-radius: .5rem;
        width: 0px;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
        opacity: 0;
        padding: 0;
    }
    
    a{
        color: white;
    }
    
    a:hover{
        .login_text{
            padding: 0 .5rem 0 3rem;
            opacity: 1;
            cursor: pointer;
            width: 6rem;
        }  
    }
    
    .welcome-head{
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        height: 50%;
        h1{
            font-family: 'Abhaya Libre', serif;
            line-height: 0.75em;
            font-size: 8.75em;
            font-weight: 600;
            animation: appear 0.65s cubic-bezier(1,.01,.96,.54), headMainSlideUp 0.65s cubic-bezier(0.23,1,0.32,1);
            //
            .pink-pinetree{
                color: #cdb49a;
                font-family: 'Abhaya Libre', serif;
            }
        }
        p{
            padding-bottom: 1em;
            animation: appear 0.75s cubic-bezier(1,.01,.96,.54), headMainSlideUp 0.75s cubic-bezier(0.23,1,0.32,1);
            //s;
            font-size: 1.3em;
        }
    }
    .experience-btn:hover{
        
        color: #606060;
        background-color: white;
    }
    .experience-btn{
        animation: appear 0.75s cubic-bezier(1,.01,.96,.54), headMainSlideUp 0.75s cubic-bezier(0.23,1,0.32,1);
        //;
        border-color: white;
        background-color: transparent;
        color: white;
    }
    .upper-right{
        position: absolute;
        top: 2em;
        right: 2em;
        display: flex;
        align-items: center;
        width: 7.25em;
        justify-content: space-between;
        font-size: 0.94em;
        // p{
        // }
        .lang-btn{
            color: white;
            background-color: transparent;
            border: 1px solid #a98c5a;
            height: 2.1em;
            padding-right: 0.5em;
            font-size: 0.94em;
        }
        .lang-btn:hover{
            background-color: #a98c5a;
        }
        animation: name duration timing-function delay iteration-count direction fill-mode;
        animation: switchSlideDown 1.5s cubic-bezier(0.23, 1, 0.320, 1);
    }
    
    
    .scroll-tag{
        position: absolute;
        top: 85.5vh;
        #arrow{
            margin-top: 0.5rem;
            width: 100%;
            text-align: center;
            font-size: 1.5em;
        }
        animation: slowAppear 1.75s cubic-bezier(0.23, 1, 0.320, 1), scrollSlideDown 1.75s cubic-bezier(0.23, 1, 0.320, 1);
    }

}